:root {
    --background: #F2F3F7;
    --complementary-color: #000;
    --black-hover: #565656;
    --green: #41FFBB;
    --blue: #418DFF;
    --pink: #EE29FF;
    --red: #FF6C6C;
}

* {
    margin: 0;
    padding: 0;
    border: unset;
    outline: unset;
}

body {
    width: 100%;
    height: 100%;
}

main {
    padding-top: 70px;
}

footer {
    height: 120px;
}

p, li, span, h1, h2, h3, thead, th {
    font-family: 'Formular Bold';
    font-weight: normal;
}

a {
    text-decoration: none;
    color: unset;
}

/*subsidiary classes*/

.--page-padding {
    padding-left: 20px;
    padding-right: 20px;
}

span.green {
    color: var(--green);
}

span.blue {
    color: var(--blue);
}

span.pink {
    color: var(--pink);
}

.curve-underline {
    margin-bottom: 40px;
}

.curve-underline::after {
    content: "";
    display: block;
    height: 0;
    margin-top: 8px;
    width: 725px;
    border-style: solid;
    border-width: 6px;
    border-image: url('../icon/wave-border.png') 4 / 4px;
    -moz-border-image: url('../icon/wave-border.png') 4 / 4px;
    -webkit-border-image: url('../icon/wave-border-horizontal.png') 4 / 4px;
    -o-border-image: url('../icon/wave-border.png') 4 / 4px;
}

    /**/

/*home*/

.lesson-header {
    font-size: 34px;
    font-family: "Formular Bold";
    padding-bottom: 15px;
}

.home-header {
    font-family: 'Formular Bold';
    font-size: 58px;
    padding-left: 200px;
}

.home-header span {
    text-decoration: underline;
}

.home-header:hover,
.lesson-link:hover{
    color: #693aff;
}

.lesson-nav-list {
    display: flex;
    flex-direction: column;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 15px 0 15px 0;
    margin-left: 40px;
    width: 300px;
}

.lesson-link {
    font-size: 24px;
    font-family: 'Formular Bold';
    text-decoration: underline;
    margin-top: 5px;
}

.lesson-link:first-child {
    margin-top: 0;
}

/**/

.page-content {
    flex: 0 0 100%;
}

.lesson-body {
    height: 100%;
    max-width: 1200px;
    background-color: #fff;
    border: 1px solid #bbb;
    padding: 25px 20px 45px 20px;
    margin: 0 auto;
}

/*lesson body*/

/*top-nav*/

.top-nav__buttons {
    display: flex;
}

.round-button {
    height: 14px;
    width: 14px;
    box-sizing: border-box;
    margin-left: 10px;
    border-radius: 100%;
    border: 2px solid var(--complementary-color);
    transition: .2s border;
}

.round-button:hover {
    border: 2px solid var(--black-hover);
}

.round-button.active {
    background-color: var(--complementary-color);
    transition: .2s background-color;
}

.round-button.active:hover {
    background-color: var(--black-hover);
}

.round-button:first-child {
    margin-left: 0;
}

.nav-label {
    font-family: 'Formular Medium';
    font-size: 13px;
    margin-left: 12px;
}

/*lesson-content*/

.lesson-content {
    padding-top: 45px;
}

.lesson-content__wrapper {
    max-width: 800px;
    margin: 0 auto;
}

.lesson-main {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
}

.lesson-main p.lesson-text {
    font-size: 21px;
    font-family: 'Formular Medium';
    margin-bottom: 30px;
}

p, ul {
    font-size: 21px;
}

.lesson-block {
    margin-bottom: 50px;
}

.lesson-list {
    list-style: none;
    font-size: 18px;
    margin-top: 10px;
    padding-left: 15px;
}

.lesson-list li {
    margin-top: 5px;
}

.lesson-list li:first-child {
    margin-top: 0;
}

.lesson-main p.lesson-text:last-child,
.lesson-block:last-child{
    margin-bottom: 0;
}

.table-box {
    margin-bottom: 65px;
}

.table {
    font-family: 'Formular Medium';
    border: 2px solid var(--complementary-color);
    border-top-width: 3px;
    border-collapse: collapse;
    margin: 0 auto;
    min-width: 300px;
}

.table__header {
    font-family: 'Formular Black';
    text-align: center;
    padding: 8px;
    background-color: #fff;
    color: #000;
    font-size: 18px;
}

.table__cell {
    font-family: 'Formular Medium';
    padding: 8px 12px;
    border: 2px solid var(--complementary-color);
    text-align: left;
}

/*bottom nav*/

.lesson-bottom-nav {
    margin-top: 70px;
}

.bottom-nav__buttons {
    display: flex;
    justify-content: center;
}

.medium-stroke-button {
    font-size: 16px;
    font-family: 'Formular Bold';
    cursor: pointer;
    color: var(--complementary-color);
    border-bottom: 3px dashed var(--complementary-color);
    padding: 0 1px;
    background-color: #fff;
    margin: 0 12px;
}

.medium-stroke-button:hover {
    border-color: var(--black-hover);
    color: var(--black-hover);
}

/*test*/

.test-header p,
.test-header__num{
    font-size: 32px;
    font-family: 'Formular Bold';
}

.test-header__num {
    color: var(--green);
}

.test-answer {
    display: flex;
    flex-direction: column;
    padding-top: 30px;

}

.test-input {
    border: 2px solid #000;
    padding: 5px 5px;
    font-size: 14px;
    font-family: 'Formular Bold';
    min-width: 250px;
}

.test-submit-contain {
    padding-top: 15px;
}

.test-submit {
    font-family: 'Formular Bold';
    background-color: #fff;
    border: 3px solid black;
    padding: 7px 30px;
    font-size: 16px;
    cursor: pointer;
}

.test-submit:hover {
    text-decoration: underline;
}

/*invalid test*/

.active-block {
    display: block;
}

.not-active-block {
    display: none;
}

.invalid-answer,
.valid-answer {
    padding-top: 25px;
    padding-left: 20px;
    width: 650px;
    display: none;
}

.invalid-answer__header {
    font-family: "Formular Bold";
    font-size: 28px;
    color: var(--red);
}

.valid-answer__header {
    font-family: "Formular Bold";
    font-size: 28px;
    color: var(--green);
}

.explanation {
    margin-top: 20px;
    border: 2px solid black;
    border-top-width: 4px;
    padding: 15px 20px 30px 20px;
}

.right-answer {
    font-size: 24px;
}

.explanation-text {
    padding-top: 20px;
}

.tryagain_button {
    font-size: 18px;
    font-family: 'Formular Bold';
    cursor: pointer;
    color: var(--complementary-color);
    border-bottom: 3px solid var(--complementary-color);
    padding: 0 1px;
    background-color: #fff;
    margin-top: 20px;
}

.tryagain_button:hover {
    border-color: var(--black-hover);
    color: var(--black-hover);
}

.lesson_ending {
    display: none;
}

.lesson_ending p {
    font-size: 32px;
}

.tens-color {
    color: var(--blue);
}

.hundreds-color {
    color: var(--pink);
}

.game {
    margin: auto;
    padding-top: 2px;
    display: block;
    width: 600px;
    height: 400px;
}

.video {
    margin: auto;
    padding-top: 20px;
    display: block;
}

.higlight {
    font-family: "Formular Bold";
    text-decoration: underline;
}

.image-flex {
    display: flex;
    justify-content: center;
    max-width: 700px;
    margin: 0 auto;
    padding-top: 10px;
}

.image-flex img {
    display: block;
    margin: 0 10px;
    max-height: 250px;
}

.lesson-text-2 {
    margin-bottom: 30px;
    font-family: "Formular Medium";
}

/*miniquiz*/

.miniquiz-container {
    border: 3px solid black;
    border-radius: 12px;
    padding: 17px 35px 30px 20px;
    margin-top: 60px;
}

.quiz-header {
    padding-bottom: 30px;
}

.quiz-header__content {
    font-size: 24px;
    border-bottom: 2px solid black;
    padding-bottom: 15px;
}

.question {
    display: flex;
    margin-top: 15px;
}

.question:first-child {
    margin-top: 0;
}

.question-content {
    margin-left: 10px;
    font-family: "Formular Medium";
    font-size: 18px;
    user-select: none;
    cursor: pointer;
}

.quiz-checkbox {
    cursor: pointer;
    margin-top: 4px;
}

.miniquiz-submit-container {
    margin-top: 35px;
    text-align: right;
    display: flex;
    justify-content: space-between;
}

.miniquiz-submit {
    font-family: "Formular Bold";
    text-decoration: underline;
    font-size: 18px;
    background-color: unset;
    cursor: pointer;
}

.miniquiz-submit:hover {
    color: var(--black-hover);
}

.quiz-state {
    font-size: 18px;
}

.text-table-box {
    margin-top: 70px;
}

.text-table__header {
    font-size: 24px;
    padding: 15px;
    text-align: center;
    border: 2px solid black;
}

.text-table-cell {
    font-size: 21px;
    padding: 20px 25px 35px 25px;
    border: 2px solid black;
    position: relative;
}

select {
    width: 350px;
    font-size: 18px;
    font-family: "Formular Medium";
    border: 2px solid black;
    padding: 2px;
}

select.thin {
    width: unset;
    font-size: 18px;
    font-family: "Formular Medium";
    border: 2px solid black;
    padding: 2px;
}

.tablequiz-submit-container {
    margin-top: 15px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

.tablequiz-submit {
    font-family: "Formular Bold";
    text-decoration: underline;
    font-size: 18px;
    background-color: unset;
    cursor: pointer;
}

.tablequiz-submit:hover {
    color: var(--black-hover);
}

.area-edit-quiz {
    margin-top: 80px;
}

.areaquiz-header {
    font-size: 24px;
}

.area-to-edit {
    padding: 20px 0 0 0;
    font-size: 21px;
    font-family: "Formular Medium";
    line-height: 2;
}

.fly-menu-select {
    font-size: 18px;
    font-family: "Formular Medium";
    text-decoration: underline;
    cursor: pointer;
    white-space: nowrap;
}

.fly-menu-select:after {
    content: url("../icon/arrow-down.svg");
    margin-left: 4px;
    height: 15px;
}

.fly-menu-select:hover {
    color: var(--black-hover);
}

.floating-menu {
    padding: 10px;
    border: 2px solid black;
    font-size: 16px;
    font-family: "Formular Medium";
    position: fixed;
    width: 300px;
    display: none;
    background-color: white;
}

.floating-menu p {
    font-size: 16px;
    font-family: "Formular Medium";
    margin-bottom: 15px;
    cursor: pointer;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}

.floating-menu p:hover {
    color: var(--black-hover);
}

.floating-menu p:last-child {
    margin-bottom: 0;
    border-bottom: unset;
}

.floating-select-menu {
    position: absolute;
    width: 300px;
    z-index: 100;
    padding: 10px;
    border: 2px solid black;
    background-color: #fff;
    max-height: 350px;
    overflow-y: scroll;
    display: none;
}

.float-answ {
    font-size: 14px;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
    margin-bottom: 15px;
    font-family: "Formular Medium";
    cursor: pointer;
}

.float-answ:last-child {
    margin-bottom: 0;
    border-bottom: 0;
}

.float-answ:hover {
    color: var(--black-hover);
}

.selected-answer {
    white-space: normal;
    text-decoration: none;
}

.image-quiz-contain {
    margin-top: 60px;
}

.quiz-contain {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quiz-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resize-iframe {
    margin-top: 40px;
    margin-bottom: -125px;
}

.game-resize {
    width: 600px;
    height: 100%;
    -moz-transform: scale(0.25, 0.25);
    -webkit-transform: scale(0.25, 0.25);
    -o-transform: scale(0.25, 0.25);
    -ms-transform: scale(0.25, 0.25);
    transform: scale(0.25, 0.25);
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
}

.side-img {
    padding-top: 5px;
}

.img-list {
    padding-top: 50px;
}

.img-list p {
    font-family: "Formular Medium";
    font-size: 20px;
}

.img-list-item {
    margin-top: 20px;
    display: flex;
}

.img-list-item p {
    margin-left: 10px;
}

.thin-highlight {
    font-family: 'Formular Light';
}

.code-contain {
    padding-bottom: 30px;
    text-align: center;
}

.code-contain p {
    font-family: 'Formular';
}

.code-contain p::after {
    content: "";
    display: block;
    height: 0;
    margin: 0 auto;
    margin-top: 8px;
    width: 352px;
    border-style: solid;
    border-width: 6px;
    border-image: url('../icon/wave-border.png') 4 / 4px;
    -moz-border-image: url('../icon/wave-border.png') 4 / 4px;
    -webkit-border-image: url('../icon/wave-4.png') 4 / 4px;
    -o-border-image: url('../icon/wave-border.png') 4 / 4px;
}

.resize-i {
    width: 800px;
    height: 700px;
    -moz-transform: scale(0.75, 0.75);
    -webkit-transform: scale(0.75, 0.75);
    -o-transform: scale(0.75, 0.75);
    -ms-transform: scale(0.75, 0.75);
    transform: scale(0.75, 0.75);
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    margin-left: 100px;
}